@{
    ViewBag.Title = "中式料理";
    Layout = "~/Views/Shared/_LayoutMember.cshtml";
}

<h2>商品選擇</h2>






<div>
  
    <select class="form-control" id="CarrigeChooses" name="CarrigeChooses" onchange="self.location.href=options[selectedIndex].value">
        <option value="">--請選擇--</option>
        <option value=" ChineseFood">中式料理</option>
        <option value="JapaneseFood">日式料理</option>
        <option value=" FranceFood">法式料理</option>
        <option value="ThiFood">泰式料理</option>
        <option value="ColubiaFood">加勒比海料理</option>
        <option value="BakeFood">烘焙甜點</option>
        <option value="SkinFood">減脂健身餐</option>
        <option value="OldFood">古早味</option>      
        <option value="Drink">飲料</option>

    </select>
</div>




@model IEnumerable<WebApplication2.Models.ChineseFood>

<div class="row"  align="center" style="margin-top:20px;">
    @foreach (var item in Model)
    {
       
        <div class="col-md-4 col-lg-4 ">
            <div class="thumbnail"  align="center" style="width:225px;height:300px;">
                <img src="~/Images/CF/@item.Img" 
                     style="width:200px;height:150px;">
                <div class="caption">
                    <h4>@item.Name</h4>
                    <div align="center" style="float:left">
                        <p><a href="@Url.Action("AddCar","Member")?PId=@item.PId" class="btn btn-primary">加入購物車</a></p>
                        <p>單價:@item.Price1 </p>
                    </div>
                </div>
            </div>

        </div>
    }

</div>





