<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="~/Content/styles.css" rel="stylesheet" />
</head>
<body>
    <!-- Responsive navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link" href="~/HomePage/Home">首頁</a></li>
                    <li class="nav-item"><a class="nav-link" href="~/HomePage/Register">註冊</a></li>
                    <li class="nav-item"><a class="nav-link" href="~/HomePage/Login">登入</a></li>
                    <li class="nav-item"><a class="nav-link" href="~/HomePage/CarrigeView">商品一覽</a></li>

                </ul>
            </div>
        </div>
    </nav>
    <!-- Header - set the background image for the header in the line below-->
    <header class="py-5 bg-image-full" style="background-image: url('https://img.onl/howE1l')">
        <div class="text-center my-5">

            <h1 class="text-white fs-3 fw-bolder">御膳遞</h1>
            <p class="text-white-50 mb-0">為您遞送御膳的網站</p>
        </div>
    </header>
    <!-- Content section-->
    <section class="py-5">
        <div class="container my-5">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    @RenderBody()
                </div>
            </div>
        </div>
    </section>

    <!-- icon-->
    <div align="center">
        <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>
        <h1 style="font-size:30px;">
            <i class="fab fa-twitter-square" style="color: #06F" ;></i> Yusandy &nbsp &nbsp
            <i class="fab fa-line" style="color: #00ff21" ;></i> Yusandy &nbsp &nbsp
            <i class="fab fa-qq" style="color: #06F" ;></i> Yusandy &nbsp &nbsp
            <i class="fas fa-phone" style="color: #F93;"></i> 0612-34-567
        </h1>
    </div>


    <!-- Footer-->
    <footer class="py-5 bg-dark">
        <div class="container"><p class="m-0 text-center text-white">Copyright &copy; 御膳遞股份有限公司 2021</p></div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="~/Scripts/scripts.js"></script>
</body>
</html>
